body{
    text-align: center;
    background-image: url('../images/Thailand_Christmas_New_Year_1600.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
}

.container{
    position: absolute;
    width: 100%;
    top: 30%;
}

.countdown-container {
    width: 60%;
    margin: 0 auto;
}

.countdown-box {
    padding: 1em;
    background: #7e98e6;
    width: 500px;
    margin: 0 auto;
    text-align: center;
}

.countdown-container .countdown-element {
    display: inline-block;
    margin-right: 0.5em;
    color: #FFF;
    font-size: 18px;
    background: #2f2ba4;
    margin-left: 0.5em;
    min-width: 88px;
    box-shadow: 3px 3px 0.1em 0.1em #666;
}

.countdown-container .countdown-element .countdown-label {
    padding: 0.2em;
    background: #FFF;
    color: #2f2ba4;
}

.countdown-container .countdown-box .countdown-value {
    font-weight: bold;
    font-size: 50px;
    padding: 0.1em;
}

.countdown-container .countdown-box .hidden{
    display: none;
}

.countdown-container .countdown-box .countdown-new-year h2{
    color: #000;
    font-weight: bold;
    font-size: 46px;
}

body h1{
    width: 500px;
    margin: 0 auto;
    padding: 0.5em;
    background: #3100b7;
    color: #FFF;
}

.countdown-container .countdown-element.closing-in{
    color: rgb(250, 255, 90);
}


.countdown-container .countdown-element.very-close{
    color: rgb(247, 61, 61)
}
