body{
    text-align: center;
}

.countdown-container {
    width: 60%;
    margin: 0 auto;
}

.countdown-box {
    padding: 1em;
    background: #9f9;
    width: 450px;
    margin: 0 auto;
    text-align: center;
}

.countdown-container .countdown-element {
    display: inline-block;
    margin-right: 0.5em;
    padding: 0.5em;
    border: 2px solid #FFF;
    border-radius: 0.2em;
    color: #FFF;
    font-size: 18px;
    background: #28ce28;
    margin-left: 0.5em;
}

.countdown-container .countdown-box .countdown-value {
    font-weight: bold;
    font-size: 46px;
}

.countdown-container .countdown-box .hidden{
    display: none;
}

.countdown-container .countdown-box .countdown-new-year h2{
    color: #000;
    font-weight: bold;
    font-size: 46px;
}

body h1{
    width: 450px;
    margin: 0 auto;
    padding: 0.5em;
    background: #45e445;
}

.countdown-container .countdown-element.closing-in{
    color: rgb(250, 255, 90);
}


.countdown-container .countdown-element.very-close{
    color: rgb(247, 61, 61)
}
